@page
@model ASAssignment.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ChangeModel.OldPassword"></label>
        <input asp-for="ChangeModel.OldPassword" class="form-control" />
        <span asp-validation-for="ChangeModel.OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ChangeModel.NewPassword"></label>
        <input asp-for="ChangeModel.NewPassword" class="form-control" />
        <span asp-validation-for="ChangeModel.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ChangeModel.ConfirmPassword"></label>
        <input asp-for="ChangeModel.ConfirmPassword" class="form-control" />
        <span asp-validation-for="ChangeModel.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
