@page
@model ASAssignment.Pages.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-info">
    <p>You have reset your password.</p>
    <p>Please navigate back to <a href="/">the Home Page.</a></p>
</div>
