@page
@model ASAssignment.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<h2>Reset Password</h2>

@if (Model.ShowErrorMessage)
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}

<form method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="ResetModel.Code" />
    <input type="hidden" asp-for="ResetModel.Email" />

    <div class="form-group">
        <label asp-for="ResetModel.Password"></label>
        <input asp-for="ResetModel.Password" class="form-control" />
        <span asp-validation-for="ResetModel.Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ResetModel.ConfirmPassword">Confirm Password</label>
        <input asp-for="ResetModel.ConfirmPassword" class="form-control" />
        <span asp-validation-for="ResetModel.ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
