@page
@model ASAssignment.Pages.TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "2FA";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Verification Code</h1>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="TwoFactorModel.Email" />
                <input type="hidden" asp-for="TwoFactorModel.RememberMachine" />

                <div class="mb-3">
                    <input type="text" asp-for="TwoFactorModel.Code" class="form-control form-control-lg" />
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Verify Code</button>
                </div>
            </form>
        </div>
    </div>
</div>
